* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    /* background-color: #000000; */
}
body{
    background-color: black;
}
#title{
    color: #9E2629;
    font-size: 70px;
    margin-top: 30px;
    background-color: #ffffff;
    max-width: 700px;
    margin-left: 130px;
    text-align: center;
}

.catagorie {
    color: #9E2629;
    font-size: 30px;
    margin-top: 15px;
    background-color: #ffffff;
    max-width: 200px;
    width: 100%;
    float: left;
    margin-left: 130px;
    text-align: center;
}

.form {
    background-color: #ffffff;
    color: #9E2629;
    padding: 25px;
}
.form input{
    background-color: white;
}
.form-container{
    background-color: white;
    width: 80%;
    height: 200px;
    margin-top: 20px;
}
.form-flex{
    display: flex;
    justify-content: center;
    
}
.flex-container{
    display: flex;
    flex-direction: column;
}

.tickets {
    background-color: #ffffff;
}

.zaal img {
    margin-left: 150px;
}

.afrekenen{
    color: #ffffff;
    font-size: 50px;
    margin-top: 15px;
    background-color: #9E2629;
    max-width: 1200px;
    margin-left: 0px;
}

.afrekenen #betalen {
    margin-left: 250px;
}