body{
    margin: 0;
}
header{
    height: 200px;
    width: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#logo{
    margin-top: 15px;
    max-width: 500px;
    width: 100%;
}
.headerMenuContent{
    display: flex;
    flex-direction: row;
}
.blank{
    max-width: 380px;
    width: 100%;
    /* border: solid black; */
    height: 10px;
}
.filmagenda{
    /* border: solid black; */
    height: 90px;
    width: 200px;
    text-align: center;
    padding-top: 70px;
    cursor: pointer;
}
.filmagenda a{
    text-decoration: none;
    color: black;
}
.vesteginen{
    /* border: solid black; */
    height: 90px;
    width: 200px;
    text-align: center;
    padding-top: 70px;
}
.contact{
    /* border: solid black; */
    height: 90px;
    width: 200px;
    text-align: center;
    padding-top: 70px;
}
#tickets{
    background-color: #9E2629;
    height: 70px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
}
.tikcetblank{
    max-width: 170px;
    width: 100%;
}
.dropbtn {
    max-width: 150px;
    width: 100%;
    height: 20px;
    margin-top: 20px;
    background-color: #C3575A;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  .btnText{
    margin-top: -11px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ad4d51;
  }
  #bestelbutton{
    max-width: 150px;
    width: 100%;
    height: 20px;
  }
  #bestelbutton button{
    width: 150px;
    height: 20px;
    padding: 16px;
    margin-top: 20px;
    color: #9E2629;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  .bestelText{
    margin-top: -9px;
  }
  .space{
    width: 15px;
  }
  
  @media only screen and (max-width: 600px){
    #logo{
        margin-top: 15px;
        max-width: 300px;
        width: 100%;
    }
    #logo img{
        margin-top: 15px;
        max-width: 200px;
        width: 100%;
    }
    #tickets{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 8px;
    }
    .dropbtn {
      font-size: 6px;
    }
    #bestelbutton{
      max-width: 150px;
      width: 100%;
      height: 20px;
    }
    #bestelbutton button{
      max-width: 50px;
      width: 100%;
    }
    .bestelText{
      font-size: 6px;
    }
    .filmagenda{
      width: 70px;
      max-width: 100%;
      height: 40px;
      padding-top: 45px;
    }
    .filmagenda a{
      text-decoration: none;
      color: black;
    }
    .vesteginen{
      display: none;
    }
    .contact{
      display: none;
    }
  }